body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  margin: 0 auto;
}
$color:rosybrown;
.StaffHeader{
   font-size: 15px;
   color: $color;
   padding-top: 20px;
}

.optHeader{
  margin-bottom: 20px;
}
.optHeader,.itemPanel,.itemHead{
  width: 100%;
  text-align: center;
}
.itemHead{
  display: flex;
    tr{
      flex: 1;      
      line-height: 50px;
      border-bottom: 1px solid #ccc;
      th{
        display: block;
        text-align: center;    
      }
  }
}
.itemPanel{
  border: 1px solid #ccc;
  background: #fff;
}
.addForm{
  text-align: center;
}
.overLay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}
.overLay table{
  margin: 0 auto;
}
.tips-success,.tips-mes,.tips-age{
  color:red;
  display: none;
}
#idSelect,#orderSelect{
  margin-left: 10px;
}
.tableBar{
  width: 100%;
  line-height: 42px;
  border-bottom: 1px solid #ccc;
  display: flex;
  td{
    flex: 1;
  }
}
.tableBar:nth-last-of-type(1){
  border: none;
}
.itemBtn:nth-child(2){
  margin-left: 10px;
}
$width:250px;
#staffAddName,#staffAddAge,#staffEditName,#staffEditAge{
  outline: none;
  border: 1px #ccc solid;
  line-height: 25px;
  padding-left: 12px;
  width: $width;
}
#staffAddSex,#staffAddId,#staffAddDescrip,#staffEditSex,#staffEditId,#staffEditDescrip{
  width: $width;
}
.newTable{
  margin-bottom: 10px;
}
.newLable{
  width: 100px;
  text-align: center;
  display: inline-block
}
.content{
  margin: 15% auto;
}
.itemEmpty{
  text-align: center;
  background: #fff;
}
.button-center{
  display: flex;
  justify-content: center;
  margin: 20px 0;
}